h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.comment {
  margin-top: 0;
  padding-top: 0;
}

.all {
  font-weight: bold;
  font-size: 120%;
}

hr, .gen {
  border: 0;
  border-bottom: 1px dotted gray;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

tr.sect td, tr.sect th {
  border-top: 1px solid silver;
}
td {
  border-top: 1px dotted silver;
}
.last td, .last {
  border-bottom: 1px solid silver;
}

table {
	margin-bottom: 3px;
}

thead th{
	text-align: center;
}
td, th {
	padding-left: 3pt;
	padding-right: 3pt;
}

td[onclick] {
	cursor: pointer;
}

#cooki_monster {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 5pt;
  text-align: justify;
  border: 1pt solid red;
  background-color: #F2692F;
}
ont-family: Georgia, Times New Roman, Times, serif; 
}
h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.comment {
  margin-top: 0;
  padding-top: 0;
}

.all {
  font-weight: bold;
  font-size: 120%;
}

hr, .gen {
  border: 0;
  border-bottom: 1px dotted gray;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

tr.sect td, tr.sect th {
  border-top: 1px solid silver;
}
td {
  border-top: 1px dotted silver;
}
.last td, .last {
  border-bottom: 1px solid silver;
}

table {
	margin-bottom: 3px;
}

thead th{
	text-align: center;
}
td, th {
	padding-left: 3pt;
	padding-right: 3pt;
}

td[onclick] {
	cursor: pointer;
}

#cooki_monster {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 5pt;
  text-align: justify;
  border: 1pt solid red;
  background-color: #F2692F;
  font-family: Georgia, Times New Roman, Times, serif; 
}
